*{
    list-style: none;  
}
.background{
    width:100%; /* pleine largeur de l'ecran */
    /*    height:1080px; */
    position:fixed; /* fixed plutot que absolute, permet de garder le fond fixe lorsqu'on scroll*/
    top:0; left:0; /* on place le fond en haut à gauche */
    z-index:-1; /* on place notre fond en dessous du 0, donc derrière n'importe quel élément html (sinon il cache le texte)*/
}
.kenburns-top {
    animation: kenburns-top 25s ease-out;
    animation-iteration-count: infinite;
}
@keyframes kenburns-top {
    0% {
        transform: scale(1) translateY(0);
        transform-origin: 50% 16%;
    }
    100% {
        transform: scale(1.25) translateY(-15px);
        transform-origin: top;
    }
}
body nav div .nav-item{
    box-sizing: content-box;
    width: 150px;
    border-top: solid white 2px;
    padding: 5px;      
}
body nav div .nav-item:hover{
    background-color: white;
    border-radius: 0px 0px 3px 3px;
}
body nav div ul li a:hover{
    color: black;
}
body nav div ul li a{
    color: white;
}
.fa-chevron-right{
    color: red;
}
.fa-bars{
    color: white;
}
.burger{
    color: black;
}
@media (max-width: 580px){
    .simonLogo{
        width: 75%;
    }
    body nav div .nav-item{
        box-sizing: content-box;
        width: 100px;
        border-top: solid white 2px;
        padding: 5px;
    }}

text-center{
    margin-top: 45%;
    background-color: white;
    padding-bottom: 100%;
}
h1{
    margin-top: 15%;
    font-size: 80px;
    font-family: cutive mono;
    color: white;
}
.histoireBG{
    margin-top: 20%;
    background-color: black;
    color: white;
    text-align: justify;
    display: flex;
    justify-content: center;
    box-sizing: content-box;
    width: 100%;
    border-top: solid red 2px;
}