* {
    list-style: none;

}

.background {
    width: 100%; /* pleine largeur de l'ecran */
    /*    height:1080px; */
    position: fixed; /* fixed plutot que absolute, permet de garder le fond fixe lorsqu'on scroll*/
    top: 0;
    left: 0; /* on place le fond en haut à gauche */
    z-index: -1; /* on place notre fond en dessous du 0, donc derrière n'importe quel élément html (sinon il cache le texte)*/

}

#indexbg {
    background-image: url("/img/fond1.jpg");
    background-color: black;
}

.kenburns-top {
    animation: kenburns-top 25s ease-out;
    animation-iteration-count: infinite;
}

@keyframes kenburns-top {
    0% {
        transform: scale(1) translateY(0);
        transform-origin: 50% 16%;
    }
    100% {
        transform: scale(1.25) translateY(-15px);
        transform-origin: top;
    }
}

body nav div .nav-item {
    box-sizing: content-box;
    width: 150px;
    border-top: solid white 2px;
    padding: 5px;
    transition: 0.5s;
}

body nav div .nav-item:hover {
    background-color: white;
    border-radius: 0 0 3px 3px;
    transition: 0.5s;
}

body nav div ul li a:hover {
    color: black;
    transition: 2s;
}

body nav div ul li a {
    color: white;
}

.fa-chevron-right {
    color: red;
}

.fa-bars {
    color: white;
}

.fa-arrow-alt-circle-down:hover {
    transition: 0.5s;
    transform: rotate(360deg);
    color: black;
}

.fa-arrow-alt-circle-down {
    transition: 0.5s;
    color: white;
    display: block;
}

@media (max-width: 600px) {
    .simonLogo {
        width: 70%;
    }

    body nav div .nav-item {
        box-sizing: content-box;
        width: 100px;
        border-top: solid white 2px;
        padding: 5px;
    }
}

text-center {
    margin-top: 45%;
    background-color: white;
    padding-bottom: 100%;
    position: absolute;
}

h1 {
    margin-top: 15%;
    font-size: 80px;
    font-family: Brush Script MT, serif;
    color: white;
}

.paragraphePrincipaleHistoire {
    background-color: black;
    margin-top: 25%;
    padding-bottom: 2%;
    padding-top: 5%;
}

.paragrapheHistoire {
    color: white;
    margin-top: 1%;

}

.petitParagraphe {
    border-top: 1px solid red;
    padding-top: 1%;
}

.fa-arrow-alt-circle-down {
    margin-top: 40%;
}

.histoire {
    background-image: url(img/choco2.jpg);
}

.collection {
    background-image: url(img/fond1.jpg);
}

.fondCollection {
    background-color: black;
    margin-top: 25%;
    padding-top: 5%;
    padding-bottom: 40%;
}

.contact {
    background-color: black;
}

.contact h2 {
    color: white;
    text-decoration: underline red;
    font-family: 'Roboto', serif;
    font-size: 130%;
}

.contact h3 {
    color: white;
    font-family: 'Roboto', serif;
    font-size: 130%;
}

.contact h3 a {
    color: red;
    text-decoration: none;
}

.contact h3 a:hover {
    color: white;
    text-decoration: none;
}


.timeline {
    position: relative;
    margin: 0 auto;
    width: 90%;

}

.timeline ul li {
    margin-bottom: 50px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pointDroit {
    min-width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 100%;
    z-index: 2;
    border: 3px #333333 solid;
    position: relative;
    left: 1px;
}

.pointGauche {
    min-width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 100%;
    z-index: 2;
    border: 3px #333333 solid;
    position: relative;
    right: 50px;
}

.timeline ul li .content {
    width: 50%;
    padding: 0 20px;
}

.timeline ul li:nth-child(odd) .content {
    padding-left: 0;
}

.timeline ul li:nth-child(odd) .titre {
    padding-right: 0;
}

.timeline ul li:nth-child(even) .content {
    padding-right: 0;
}

.timeline ul li:nth-child(even) .titre {
    padding-left: 0;
}

.timeline ul li .titre {
    width: 50%;
    padding: 0 20px;
    font-weight: normal;
}

.timeline ul li .titre h4 {
    background-color: white;
    width: 100px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 10px;
}

.timeline ul li .content h3 {
    padding: 10px 20px;
    background-color: #be9fe1;
    margin-bottom: 0;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.timeline ul li .content img {
    padding: 10px 20px;
    background-color: #e1d9ec;
    margin-top: 0;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.timeline ul li:nth-child(even) {
    flex-direction: row-reverse;
}

.timeline ul li:nth-child(even) .titre h4 {
    float: right
}

.timeline::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 3px;
    left: 50%;
    background-color: #333333;
}

.titredroit{
    background-color: white;
    width: 80px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 10px;
    left: 10px;
}

@media (max-width: 800px) {
    .point {
        min-width: 15px;
        height: 15px;
    }

    html, body {
        font-size: 15px;
    }

}

@media (max-width: 650px) {
    html, body {
        font-size: 14px;
    }

    .point {
        min-width: 12px;
        height: 12px;
    }

}

@media (max-width: 450px) {
    html, body {
        font-size: 10px;
    }

    p {
        padding: 10px !important;
    }
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
}
h4{
    border-radius: 10px;
    background-color: white;
    width: 100px;
    text-align: center;
}
.collec{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}